.detail{
  display: flex;
  // height: 100vh;
  @include pad (){
    flex-direction: column;
  }
  .photo{
    position: relative;
    max-width: 573px;
    height:100vh;
    @include pad (){
    max-width: 768px;
    }
    &-container{
      object-fit: cover;
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
    .backTo {
      position: absolute;
      top: 90px;
      left: 48px;
      span{
        padding: 0 8px;
      }
    }
    &-layer{
      position: absolute;
      left: 0;
      bottom:0;
      width: 100%;
      height: 100%;
    }
    &-info{
      position: absolute;
      left: 0;
      bottom:0;
      width: 100%;
      text-align: center;
    }
    &-infoInside{
      padding-bottom: 109px;
    }
  }
  .description{
    width: 100%;
    margin-left: 30px;
    margin-top: 107px;
    margin-right: 128px;
    @include pad (){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }
    &-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include uidesign (){
        flex-direction: column;
        align-items: flex-start;
        p{
          margin: 5px 0;
        }
      }
    }
    .rules{
      margin-top: 35px;
      margin-bottom: 48px;
      @include largepc (){
        margin-top: 35px;
        margin-bottom: 30px;
      }
    }
    
  }
}

.amenities{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 390px;
  @include uidesign (){
    grid-template-columns: repeat(5, 1fr);
  }
  @include smartphone (){
    grid-template-columns: repeat(4, 1fr);
  }
  &-icon{
    position: relative;
    text-align: center;
    .icon{
      width: 40px;
      height: 40px;
      padding: 20px;
      &-S{
        width: 30px;
        height: 30px;
        // padding: 5px;
      }
    }
    .mark{
      position: absolute;
      width: 15px;
      height: 15px;
      top: 10px;
      // right: 30px;
    }
  }
}
